@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@import "custom";

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "~bulma";

label input {
  margin: 3px 3px 3px 4px;
}